* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #0B130D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}